@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url(../images/fond.png);
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	margin: 0;
}

h1,
h2,
h3 {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h2,
h3 {
	font-size: 35px;
	font-weight: 900;
}

span {
	font-weight: 900;
}

header,
footer {
	display: flex;
	height: 100px;
	padding: 20px;
	font-size: 20px;
	background-color: #ffffff00;
	color: rgb(71, 71, 71);
	padding-inline: 8%;
}

header .boton,
header a {
	margin-left: auto;
}

header a {
	margin-left: auto;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
}

.logo {
	font-family: 'Oleo Script', cursive;
	color: rgb(212, 52, 52);
	font-size: 2pc;
}

.intro {
	background-color: #EEF1F7;
	width: 85%;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 40px 0 0 40px;
}

.intro__imagen {
	margin-top: -10px;
	margin-right: 40px;
}

.intro__contenido p {
	font-family: 'Open Sans', sans-serif;
	max-width: 90%;
	font-size: 34px;
	font-weight: 100;
	line-height: 40px;
	margin: 15px 0 30px 0;
}

.seperator {
	display: flex;
    position: absolute;
    right: 7vw;
}

.boton {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 100px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	background-color: #00000000;
	color: rgb(95, 95, 95);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: Bold 700;
	text-decoration: none;
}

.boton:hover {
	background-color: #333;
	color: #FFF;
	text-decoration: none;
}

.botonIntro {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 1pc;
	width: 210px;
	height: 50px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgb(225 226 227);
	color: rgb(27, 27, 27);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;

}

.botonIntro:hover {
	background-color: rgb(28, 97, 226);
	color: #FFF;
	text-decoration: none;
}

.icono img {
	width: 25px;
	margin-left: 66px;
	margin-top: 4px;
}

.text {
	font-size: 12px;
}

.contenido {

	width: 87%;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 40px 0 0 0px;
}

.caja {
	max-width: 400px;
	margin: 50px 10px;
}

.caja__imagen {
	background-color: #CED7E9;
	text-align: center;
}

.caja__imagen img {
	max-height: 21.6vw;
	width: auto;
}

.caja h3 {
	font-size: 15px;
}

.caja p {
	font-size: 15px;
}

.caja__contenido {
	background-color: #EEF1F7;
	padding: 20px;
}

.contenido2 {
	margin-top: 22%;
	padding: 45px 0px 0px 90px !important;
	background-color: #EEF1F7;
	width: 100%;
	height: 435px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 40px 0 0 0;
}

.contenido2__imagen {
	margin-top: -10px;
	margin-right: 40px;
}

.contenido2__contenido p {
	font-family: 'Open Sans', sans-serif;
	max-width: 90%;
	font-size: 15px;
	font-weight: 100;
	margin: 15px 0 30px 0;
}

footer ul {
	margin-left: auto;
	align-content: flex-end;
	display: table-cell;
   	vertical-align: middle;
}

footer li {
	list-style: none;
	margin: 0 -35px;
}

footer p {
	display:flex;
    justify-content: center;
    align-items: center;
}

.icons {
	display: flex;
	margin-top: -4px;
}
.icons li {
	position: relative;
    left: 134px;
    top: 1pc;
    margin-right: -25px;
}
.contentfooter{
	display:flex;
}

.itemFooter{
	padding:55px;
}
.itemFooter h3 {
	font-size: 19px;
}
.icon img{
	width:25px
}

