extend components/sources.pug
block contenidos
    section.intro
            .intro__contenido
                h2 #{titulo[0]}
                p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            .intro__imagen
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") Ok let's go
                    .icono: img(src="./images/arrow.png")
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") More Info
                    .icono: img(src="./images/ask.png")
    main.contenido 
        +caja('pic01.jpg', titulos[0], 'Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem')
        +caja('pic02.jpg', titulos[1], 'Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem')
        +caja('pic02.jpg', titulos[2], 'Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem')
    section.contenido2
            .intro__imagen
                h2.text #{titulo[1]}
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") Ok let's go
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") More Info
            .contenido2__contenido
                h2 #{titulo[1]}
                p.
                    Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de 
                    borradores de diseño para probar el diseño visual antes de insertar el texto final.
                    Aunque no posee actualmente fuentes para justificar sus hipótesis, el profesor de filología clásica Richard 
                    McClintock asegura que su uso se remonta a los impresores de comienzos del siglo xvi.1​ Su uso en algunos editores 
                    de texto muy conocidos en la actualidad ha dado al texto lorem ipsum nueva popularidad.
                    El texto en sí no tiene sentido, aunque no es aleatorio, sino que deriva de un texto de Cicerón en lengua latina, 
                    a cuyas palabras se les han eliminado sílabas o letras. El significado del mismo no tiene importancia, 
                p.
                    ya que solo es una demostración o prueba. El texto procede de la obra De finibus bonorum et malorum 
                    (Sobre los límites del bien y del mal) que comienza con:   
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") Continue Reading
