-var logo = "myLorem"
-var titulo = ["Hi. This is Lorem","So what's this all about?"]
-var items = ["Welcome","Dropdown","Left Slider","righ Slider","No Slider"]
-var titulos =["Maybe here as well i think","This is also an interesting subtitle","Here's another intriguing subtitle"]
-var itemsFooter =["Web design","Development","Hosting"]
mixin caja(imagen, titulo, contenido)
    .caja
        .caja__imagen: img(src="images/"+imagen)
        .caja__contenido
            h3.caja__texto= titulo
            p= contenido