footer 
    .footer-clean

        .contentfooter
            .itemFooter
                h3 Random Stuff
                ul
                    li: a #{itemsFooter[0]}
                    li: a #{itemsFooter[1]}
                    li: a #{itemsFooter[2]}
            .itemFooter
                h3 Random Stuff
                ul
                    li: a Company
                    li: a Team
                    li: a Legacy
            .itemFooter
                h3 Random Stuff
                ul
                    li: a Job openings
                    li: a Employee success
                    li: a Benefits
            .itemFooter
                .icon
                    h3 Contact Us
                    ul.icons
                        li: img(src="../images/pinterest.png")
                        li: img(src="../images/gplus.png")
                        li: img(src="../images/instagram.png")
                        li: img(src="../images/facebook.png")
                        li: img(src="../images/twitter.png")
                ul
                    li: a Job openings
                    li: a Employee success
                    li: a Benefits
        .creator
            p.copyright By Nicolas Vargas © 2022


